body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 30px;
    background-color: #DCDCDC;
}
/*header*/
.header {
    height: 100px;
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding-top: 20px;
}

/*content*/
.content {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content:space-between;
}
/*side-bar*/
.side-bar {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.side-bar-content {
    width: 220px;
    height: 50px;
    color: whitesmoke;
    background-color: black;
    border-radius: 15px;
    border-width: 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    
}

 /*boxes*/
.box:hover{
    background-color: black;
}

#container {
    width: 600px;
    height: 600px;
    display: grid;
    background-color: white;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); */
}

.black-color:hover {
    background-color: black;
}
/* emptys-space*/
.empty-space{
    width: 100px;
}

/*footer*/
.footer{
    padding-top: 30px;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    text-align: center;
}